@charset "UTF-8";

/* Main */

:root {
    --color-blue: #1B4CB0;
    --color-red: #ec2d3f;
    --color-medium-red: #cc2c32;
    --color-dark-red: #c31829;
    --color-green: #28a745;
    --color-dark-green: #207d36;
    --color-black: #212529;
    --color-gray: #6c757d;
}

body {
    font-size: 14px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top
}

a,
input,
textarea {
    outline: none;
    padding: 0px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.w-clear:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.none {
    display: none;
}

.hidden-seoh {
    visibility: hidden;
    height: 0px;
    margin: 0px;
    overflow: hidden;
}

.wrap-main,
.wrap-content {
    max-width: 1230px;
    /* margin: 40px auto; */
    padding: 5px 15px;
}

.wrap-home {
    max-width: 100%;
    padding: 0px;
}

.wrap-content {
    margin: auto;
}


/* General */

.title-main {
    margin-bottom: 1.5rem;
    text-align: center;
}


/* .title-main span{text-transform:uppercase;color:var(--color-red);font-weight:800;font-size:23px;} */

.title-main h2 {
    display: inline-block;
    font-family: "OswaldBold", sans-serif;
    font-size: 30px;
    color: #1b4cb0;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.time-main {
    margin-bottom: 0.75rem;
    color: #999999;
}

.time-main i {
    vertical-align: top;
    margin: 3px 7px 0px 0px;
}

.time-main span {
    vertical-align: top;
    display: inline-block;
}

.share {
    padding: 17px 15px 10px 15px;
    line-height: normal;
    background: rgba(128, 128, 128, 0.15);
    margin-top: 15px;
    border-radius: 5px;
}

.share b {
    display: block;
    margin-bottom: 5px;
}

.control-owl {
    position: absolute;
    width: 100%;
    z-index: 2;
    left: 0px;
    top: calc(50% - 45px/2);
}

.control-owl button {
    opacity: 0.5;
    top: 0px;
    position: absolute;
    outline: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    display: block;
    cursor: pointer;
    color: #ffffff;
    width: 45px;
    height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 0px;
    background-color: #000000;
    border-radius: 3px;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.control-owl button:hover {
    opacity: 1;
}

.control-owl button.owl-prev {
    left: 20px;
}

.control-owl button.owl-next {
    right: 20px;
}

.form-control,
.form-control-plaintext:not(textarea),
.custom-select {
    height: calc(1em + 1.25rem + 8px);
}

.text-sm {
    font-size: .875rem!important;
}


/* Lazyload */

img.lazy {
    opacity: 0;
}

img:not(.initial) {
    transition: opacity 1s;
}

img.initial,
img.loaded,
img.error {
    opacity: 1;
}

img:not([src]) {
    visibility: hidden;
}


/* Header */

.header {
    background-color: #ffffff;
}

.header-top {
    color: #ffffff;
    background-color: var(--color-blue);
}

.header-top .wrap-content {
    padding: 6px 15px;
}

.info-header {
    margin-bottom: 0px;
}

.info-header i {
    vertical-align: top;
    margin: 3px 5px 0px 0px;
    font-size: 16px;
}

.social-header li {
    width: 30px;
}

.header-bottom {
    background: url(../images/images_ttxl/about.png);
}

.header-bottom .wrap-content {
    padding: 20px 15px;
}

.hotline-header {
    display: inline-block;
    padding-left: 25px;
    background-image: url(../images/hotline.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.hotline-header p {
    font-weight: bold;
    margin-bottom: -2px;
    text-transform: capitalize;
}

.hotline-header span {
    font-weight: bold;
    color: var(--color-red);
    font-size: 20px;
    display: block;
}

.user-header a {
    color: #ffffff;
    padding-right: 9px;
    margin-right: 7px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

.user-header a:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 8px;
    background-color: #ffffff;
    top: calc(50% - 7px/2);
    right: 0px;
    opacity: 0.7;
}

.user-header a:last-child {
    padding-right: 0px;
    margin-right: 0px;
}

.user-header a:last-child:after {
    display: none;
}


/* Menu */

.menu {
    background-color: var(--color-blue);
    position: relative;
    z-index: 10;
}

.menu ul {
    width: 100%;
    padding: 0px;
    margin: auto;
    list-style: none;
}

.menu ul li {
    position: relative;
    z-index: 1;
}

.menu ul li.line {
    width: 1px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.1);
}

.menu ul li a {
    display: block;
    position: relative;
    font-size: 13px;
    color: #ffffff;
    padding: 12px 12px 11px 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none!important;
}

.menu ul li a.has-child {
    padding-right: 16px;
    margin-right: 8px;
}

.menu ul li a.has-child:after {
    content: '';
    position: absolute;
    bottom: calc(50% - 4px/2);
    right: 5px;
    width: 5px;
    height: 5px;
    border: 1px solid #fafafa;
    border-top: 0px;
    border-left: 0px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.menu ul li a.active,
.menu ul li:hover>a {}

.menu ul li:hover>a.has-child:after,
.menu ul li a.active.has-child:after {}

.menu ul li ul {
    position: absolute;
    min-width: 250px;
    margin-top: -5px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #fafafa;
    border-radius: 0.25rem;
    -webkit-box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
    box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
    -webkit-transform: perspective(600px) rotateX(-90deg);
    transform: perspective(600px) rotateX(-90deg);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.menu ul li:hover>ul {
    -webkit-transform: perspective(600px) rotateX(0);
    transform: perspective(600px) rotateX(0);
    -webkit-transform-origin: 0 0 0;
    opacity: 1;
    visibility: visible;
    transition: all .7s;
}

.menu ul li ul li {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.menu ul li ul li a {
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    color: #313131;
    border-bottom: 1px solid #ececec;
}

.menu ul li ul li:last-child>a {
    border-bottom: 0px;
}

.menu ul li ul li a.has-child {
    margin-right: 0px;
}

.menu ul li ul li a.has-child:after {
    border-color: #313131;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu ul li ul li a.active,
.menu ul li ul li:hover>a {
    color: var(--color-red);
}

.menu ul li ul li:hover>a.has-child:after,
.menu ul li ul li a.active.has-child:after {
    border-color: var(--color-red);
}

.menu ul li ul li a {
    padding: 10px 0px 9px 0px;
    text-transform: capitalize;
}

.menu ul li ul li ul {
    top: -0.75rem;
    left: 100%;
    margin-top: 0px;
}


/* Search */

.search {
    width: 230px;
    background: #ffffff;
}

.search p {
    float: left;
    width: 35px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    margin: 0px;
    color: var(--color-gray);
    font-size: 16px;
}

.search input {
    width: calc(100% - 35px);
    height: 35px;
    float: left;
    outline: none;
    padding: 0px;
    border: 0px;
    background: transparent;
    text-indent: 10px;
    font-size: 12px;
}

.search input::-webkit-input-placeholder {
    color: #ccc;
}

.search input:-moz-placeholder {
    color: #ccc;
}

.search input::-moz-placeholder {
    color: #ccc;
}

.search input:-ms-input-placeholder {
    color: #ccc;
}


/* Mmenu */

.menu-res {
    display: none;
    height: 55px;
    z-index: 10;
    background: var(--color-red);
    position: relative;
    line-height: normal;
}

.menu-bar-res {
    height: 55px;
    padding: 0px 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu {
    display: none;
}

#hamburger {
    display: block;
    width: 45px;
    height: 23px;
    position: relative;
}

#hamburger:before,
#hamburger:after,
#hamburger span {
    background: #ffffff;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0px;
}

#hamburger:before {
    top: 0px;
}

#hamburger span {
    top: 10px;
}

#hamburger:after {
    top: 20px;
}

#hamburger:before,
#hamburger:after,
#hamburger span {
    -webkit-transition: none 0.5s ease 0.5s;
    transition: none 0.5s ease 0.5s;
    -webkit-transition-property: transform, top, bottom, left, opacity;
    transition-property: transform, top, bottom, left, opacity;
}

.mm-wrapper_opening #hamburger:before,
.mm-wrapper_opening #hamburger:after {
    top: 10px;
}

.mm-wrapper_opening #hamburger span {
    left: -50px;
    opacity: 0;
}

.mm-wrapper_opening #hamburger:before {
    transform: rotate(45deg);
}

.mm-wrapper_opening #hamburger:after {
    transform: rotate(-45deg);
}

.mm-menu_opened {
    display: block!important;
}


/* Search Responsive */

.search-res {
    position: relative;
}

.search-res .icon-search {
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 42px;
    color: #ffffff;
    font-size: 17px;
    margin: 0px;
}

.search-res .icon-search.active {
    color: var(--color-red);
    background: #ffffff;
    border-radius: 100%;
}

.search-res .search-grid {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 0px;
    height: 40px;
    overflow: hidden;
    background: #ffffff;
    border: 1px solid var(--color-red);
    z-index: 2;
    opacity: 0;
    border-radius: 25px;
    line-height: normal;
}

.search-res .search-grid p {
    float: left;
    width: 35px;
    height: 38px;
    cursor: pointer;
    outline: none;
    border: none;
    margin: 0px;
    font-size: 17px;
    display: block;
    color: var(--color-red);
    line-height: 40px;
    text-align: center;
}

.search-res .search-grid input {
    width: calc(100% - 35px);
    float: right;
    line-height: 38px;
    outline: none;
    border: none;
    color: var(--color-red);
}

.search-res .search-grid input::-webkit-input-placeholder {
    color: #ccc;
}

.search-res .search-grid input:-moz-placeholder {
    color: #ccc;
}

.search-res .search-grid input::-moz-placeholder {
    color: #ccc;
}

.search-res .search-grid input:-ms-input-placeholder {
    color: #ccc;
}


/* Slideshow */

.slideshow {
    position: relative;
}

.slideshow-item {
    display: block;
    cursor: pointer;
}

.slideshow:hover .control-slideshow {
    opacity: 1;
}

.control-slideshow {
    opacity: 0;
}


/* Partner */

.wrap-partner {
    padding: 0px 15px;
}

.wrap-partner .wrap-content {
    position: relative;
}

.partner {
    display: block;
    border: 1px solid #eee;
    max-width: 175px;
    margin: 0px auto;
}


/* Breadcrumb */

.breadCrumbs {
    background-color: #eee;
}

.breadCrumbs .wrap-content {
    padding: 0.75rem 15px;
}

.breadCrumbs .wrap-content .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
}

.breadCrumbs .wrap-content .breadcrumb-item a {
    color: var(--color-black);
}

.breadCrumbs .wrap-content .breadcrumb-item.active a {
    color: var(--color-gray);
}


/* Intro */

.wrap-intro {
    background-color: #EEEADD;
}

.news-intro:before {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% - 50px);
    top: 10px;
    left: 90px;
    background-color: #CACACA;
}

.news-scroll:before,
.news-scroll:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 85px;
    border-radius: 100%;
    background-color: #CACACA;
}

.news-scroll:before {
    top: 10px;
}

.news-scroll:after {
    bottom: 40px;
}

.news-control {
    left: 85px;
    font-size: 13px;
    opacity: 0.5;
    z-index: 1;
    cursor: pointer;
}

.news-control:hover {
    opacity: 1;
    color: var(--color-main);
}

.news-control#up {
    top: -10px;
}

.news-control#down {
    bottom: 20px;
}

.news-shadow {
    padding-bottom: 30px;
}

.news-shadow-time {
    font-size: 13px;
    width: 75px;
    margin-right: 45px;
}

.news-shadow-time:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 20px/2);
    right: -26px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/pattern-news.png);
}

.news-shadow-article {
    width: calc(100% - 120px);
    padding: 14px 15px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #cecabb;
}

.news-shadow-article:before {
    content: '';
    position: absolute;
    top: calc(50% - 26px/2);
    left: -13px;
    z-index: 0;
    border-top: 13px solid transparent;
    border-right: 13px solid #cecabb;
    border-bottom: 13px solid transparent;
}

.news-shadow-article:after {
    content: '';
    position: absolute;
    top: calc(50% - 24px/2);
    left: -11px;
    z-index: 1;
    border-top: 12px solid transparent;
    border-right: 11px solid #ffffff;
    border-bottom: 12px solid transparent;
}

.news-shadow-image {
    margin-right: 10px;
    width: 90px;
}

.news-shadow-info {
    width: calc(100% - 100px);
}

.news-shadow-name {
    height: 36px;
    font-size: 15px;
    font-weight: 700;
}

.news-shadow-name a {
    color: #222222;
}

.news-shadow-name a:hover {
    color: var(--color-main);
}

.news-shadow-desc {
    height: 38px;
    font-size: 13px;
}

.news-shadow-name a.text-split,
.news-shadow-desc.text-split {
    -webkit-line-clamp: 2;
}


/* Video */

.video {
    cursor: pointer;
    margin-bottom: 1rem;
}

.video-image {
    position: relative;
    margin-bottom: 0.75rem;
}

.video-image:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 35px;
    top: calc(50% - 50px/2);
    left: calc(50% - 35px/2);
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url(../images/play.png);
}

.video-name {
    text-align: center;
    font-size: 16px;
    color: var(--color-black);
    margin-bottom: 0px;
}


/* Album */

.album {
    cursor: pointer;
    margin-bottom: 1rem;
}

.album-image {
    margin-bottom: 0.75rem;
}

.album-name {
    margin-bottom: 0px;
    text-align: center;
}

.album-name a {
    display: block;
    font-size: 16px;
    color: var(--color-black);
    margin-bottom: 0px;
}


/* Brand */

.wrap-brand {
    margin-bottom: 50px;
    padding: 0px 15px;
}

.wrap-brand .wrap-content {
    position: relative;
}

.brand {
    display: block;
    border: 1px solid #eee;
    max-width: 160px;
    margin: 0px auto;
}


/* Product */

.wrap-product {
    margin-bottom: 60px;
    margin-top: 60px;
}

.product {
    float: left;
    width: 23.5%;
    margin: 0 2% 2% 0;
}

.product:nth-child(4n+1) {
    clear: both;
}

.product:nth-child(4n) {
    margin-right: 0px;
}

.box-product {
    position: relative;
    display: block;
    margin-bottom: 1rem;
}

.pic-product {
    background: #ffffff;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #eee;
}

.pic-product img {
    width: 100%;
    border-radius: 3px;
}

.name-product {
    font-size: 16px;
    color: var(--color-black);
}

.name-product.text-split {
    -webkit-line-clamp: 1;
}

.price-product {
    margin-bottom: 0px;
}

.price-product span {
    font-weight: 700;
}

.price-new {
    font-size: 15px;
    font-weight: 500;
    color: var(--color-red);
}

.price-old {
    padding-left: 10px;
    font-size: 12px;
    color: var(--color-gray);
}

.price-per {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #ffffff;
    background: var(--color-blue);
    font-size: 11px;
    border-radius: 2px;
    width: 45px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.cart-product {
    margin-bottom: 0px;
}

.cart-product span {
    cursor: pointer;
    width: 49%;
    float: left;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    padding: 7px 5px;
    border-radius: 3px;
}

.cart-add {
    margin-right: 2%;
    background-color: var(--color-red);
}

.cart-add:hover {
    background-color: var(--color-dark-red);
}

.cart-buy {
    background-color: var(--color-green);
}

.cart-buy:hover {
    background-color: var(--color-dark-green);
}


/* Product Detail */

.grid-pro-detail {
    margin-bottom: 3rem;
}

.left-pro-detail {
    position: relative;
    text-align: center;
}

.left-pro-detail .MagicZoom {
    border: 1px solid #eee;
    padding: 7px;
    border-radius: 5px;
    background-color: #ffffff;
}

.gallery-thumb-pro {
    position: relative;
    margin-top: 10px;
}

.owl-pro-detail {
    padding: 0px 30px;
}

.control-pro-detail button {
    background-color: transparent;
    color: #222222;
    opacity: 1;
    width: 25px;
    font-size: 23px;
}

.control-pro-detail button:hover {
    opacity: 0.7;
}

.control-pro-detail button.owl-prev {
    left: 0px;
}

.control-pro-detail button.owl-next {
    right: 0px;
}

.thumb-pro-detail {
    display: block!important;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #ffffff;
}

.thumb-pro-detail.mz-thumb.mz-thumb-selected {
    border-color: #cecfd2;
}

.thumb-pro-detail img {
    box-shadow: none!important;
    filter: brightness(100%)!important;
    border-bottom: 0px!important;
    padding-bottom: 0px!important;
}

.title-pro-detail {
    text-transform: capitalize;
    font-size: 20px;
    display: block;
    font-weight: 700;
}

.comment-pro-detail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.social-plugin-pro-detail {
    margin-bottom: 1rem;
    margin-top: 0px!important;
}

.desc-pro-detail {
    margin-bottom: 1rem;
}

.attr-pro-detail {
    list-style: none;
    padding: 0px;
}

.attr-pro-detail li {
    margin-bottom: 0.5rem;
}

.attr-label-pro-detail {
    margin: 0px 5px 0px 0px;
}

.attr-label-pro-detail.d-block {
    display: block;
    margin: 0px 0px 5px 0px;
}

.attr-content-pro-detail {
    display: inline-block;
    margin-bottom: 0px;
}

.price-new-pro-detail {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-red);
}

.price-old-pro-detail {
    font-weight: 500;
    color: var(--color-gray);
    text-decoration: line-through;
    padding-left: 10px;
}

.color-pro-detail {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 35px;
    height: 30px;
    margin: 0px 0px 3px 0px;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.size-pro-detail {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 3px 10px 4px 10px;
    display: inline-block;
    position: relative;
}

.size-pro-detail.active,
.color-pro-detail.active {
    border-color: #e5101d;
    color: #e5101d;
}

.size-pro-detail.active:after,
.color-pro-detail.active:after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url(../images/check-cart.png);
}

.color-pro-detail input[type=radio],
.size-pro-detail input[type=radio] {
    display: none;
}

.quantity-pro-detail {
    width: 100%;
    max-width: 110px;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.quantity-pro-detail span {
    line-height: 25px;
    padding: 0px;
    width: 30px;
    height: 30px;
    color: #5f5f5f;
    cursor: pointer;
    font-size: 22px;
    border: 1px solid #cccccc;
}

.quantity-pro-detail span.quantity-plus-pro-detail {
    border-left: 0px;
}

.quantity-pro-detail span.quantity-minus-pro-detail {
    border-right: 0px;
}

.quantity-pro-detail input {
    height: 30px;
    border: 1px solid #cccccc;
    width: calc(100% - 60px);
    text-align: center;
    font-size: 14px;
    padding: 5px;
}

.cart-pro-detail {
    margin-bottom: 1rem;
}

.cart-pro-detail a {
    font-size: 14px;
    color: #ffffff!important;
    text-transform: uppercase;
}

.tags-pro-detail a {
    float: left;
    font-size: 13px;
    padding-bottom: 0.375rem;
    margin: 0px 5px 5px 0px;
}

.tags-pro-detail a i {
    font-size: 11px;
    margin: 5px 5px 0px 0px;
}

.tabs-pro-detail {
    margin-top: 2rem;
}

.tabs-pro-detail .nav-tabs .nav-link {
    border-top-width: 3px;
    font-size: 13px;
}

.tabs-pro-detail .nav-tabs .nav-link.active,
.tabs-pro-detail .nav-tabs .nav-item.show .nav-link {
    border-top-color: #555555;
}


/* News */

.news {
    margin-bottom: 2rem;
}

.news-name {
    margin-bottom: 0.5rem;
}

.news-name a {
    color: #333;
    font-size: 16px;
}

.news-name a.text-split {
    -webkit-line-clamp: 2;
}

.news-name a:hover {
    color: var(--color-red);
}

.news-time {
    color: #84878a;
    margin-bottom: 0.25rem;
}

.news-desc {
    color: #333333;
    margin-top: 5px;
    line-height: 22px;
}

.othernews b {
    margin-bottom: 10px;
}

.list-news-other {
    padding-left: 17px;
    list-style: square;
}

.list-news-other li {
    margin-bottom: 2px;
}

.list-news-other li a {
    text-transform: none;
    color: #333333;
}

.list-news-other li a:hover {
    color: var(--color-red);
}


/* Contact */

.contact-article {
    margin-bottom: 3rem;
}

.contact-input {
    position: relative;
    margin-bottom: 15px;
}

.contact-input textarea {
    resize: none;
    height: 150px;
}

.contact-input .custom-file-label::after {
    content: attr(title);
}

.contact-map {
    position: relative;
    height: 500px;
}

.contact-map iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%!important;
    height: 100%!important;
}


/* Newsletter */

.newsletter-slogan {
    margin-bottom: 0.5rem;
    color: var(--color-gray);
}

.newsletter-input {
    position: relative;
}

.newsletter-button {
    margin-top: 5px;
}

.newsletter-button input[type=submit] {
    text-transform: uppercase;
    font-weight: 500;
}


/* Footer */


/* .footer-article{background-color:#f5f6f7;}
.footer-article .wrap-content{padding:35px 15px;}
.footer-title{text-transform:uppercase;font-size:14px;margin-bottom:1rem;font-weight:500;}
.footer-ul{list-style:none;padding:0px;margin:0px;}
.footer-ul li{margin-bottom:10px;}
.footer-ul li:last-child{margin-bottom:0px;}
.footer-ul li a{color:var(--color-black);}
.footer-ul li a:hover{text-decoration:none;color:var(--color-red);}
.footer-tags{background:#eee;}
.footer-tags .wrap-content{padding:30px 15px;}
.footer-tags-lists{list-style:none;padding:0px;margin:0px;}
.footer-tags-lists li{float:left;}
.footer-tags-lists li a{padding-bottom:0.375rem;}
.footer-powered{color:#ffffff;background-color:var(--color-medium-red);}
.footer-powered .wrap-content{padding-top:15px;padding-bottom:15px;}
.footer-statistic{text-align:right;}
.footer-statistic span{padding-right:10px;}
.footer-statistic span:last-child{padding-right:0px;}
#footer-map{position:relative;height:500px;}
#footer-map iframe{position:absolute!important;width:100%!important;height:100%!important;top:0px!important;left:0px!important;} */


/* Like Share */

.social-plugin {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.social-plugin .at-share-btn {
    margin-bottom: 0px!important;
}

.social-plugin .zalo-share-button {
    margin-left: 3px;
}


/* Paging */

.pagination-home .pagination .page-item .page-link {
    color: #555555;
    font-size: .875rem;
}

.pagination-home .pagination .page-item.active .page-link {
    color: #ffffff;
    background-color: #555555;
    border-color: #555555;
}


/* Paging Ajax */

.pagination-ajax {
    text-align: center;
}

.pagination-ajax a {
    display: inline-block;
    vertical-align: top;
    margin: 0px 3px 3px 3px;
    width: 35px;
    height: 35px;
    line-height: 33px;
    color: #666!important;
    border: 1px solid #e6e6e6;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none!important;
    background-color: #ffffff;
}

.pagination-ajax a.current,
.pagination-ajax a:hover {
    color: #ffffff!important;
    border-color: var(--color-red);
    background-color: var(--color-red);
}

.pagination-ajax a.first,
.pagination-ajax a.last,
.pagination-ajax a.prev,
.pagination-ajax a.next {
    text-indent: -9999px;
    position: relative;
    background-color: #ffffff!important;
}

.pagination-ajax a.first:before,
.pagination-ajax a.last:before,
.pagination-ajax a.prev:before,
.pagination-ajax a.next:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.pagination-ajax a.first:before {
    background-image: url(../images/page-first.png);
}

.pagination-ajax a.last:before {
    background-image: url(../images/page-last.png);
}

.pagination-ajax a.prev:before {
    background-image: url(../images/page-prev.png);
}

.pagination-ajax a.next:before {
    background-image: url(../images/page-next.png);
}


/* Popup */

#popup .modal-body {
    padding: 0px;
}


/* Hidden Google Captcha */

.grecaptcha-badge {
    display: none!important;
    width: 0px!important;
    height: 0px!important;
    visibility: hidden!important;
    overflow: hidden;
}


/* Hidden Check Grammar Coccoc */

coccocgrammar {
    display: none;
}


/* Scroll Top */

.scrollToTop {
    width: 41px;
    height: 41px;
    text-align: center;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position: fixed;
    bottom: 65px;
    right: 25px;
    display: none;
    z-index: 10;
    cursor: pointer;
}


/* Text Hide */

.text-split {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}


/* Transition All */

.transition {
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}


/* Scale IMG */

.scale-img {
    overflow: hidden;
    display: block;
}

.scale-img img {
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

.scale-img:hover>img {
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}


/* Blink */

.blink {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}


/* Button Frame */

.btn-frame {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    z-index: 10;
    cursor: pointer;
}

.btn-frame i {
    display: flex;
    display: -ms-flex;
    justify-content: center;
    align-items: center;
    -ms-flex-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #1182FC;
    position: relative;
    z-index: 1;
}

.btn-frame i img {
    vertical-align: middle;
    width: 70%;
}

.btn-frame .animated.infinite {
    animation-iteration-count: infinite;
}

.btn-frame .kenit-alo-circle {
    width: 60px;
    height: 60px;
    top: -5px;
    right: -5px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(7, 41, 103, 0.8);
    opacity: .1;
    border-color: #1182FC;
    opacity: .5;
}

.btn-frame .zoomIn {
    animation-name: zoomIn;
}

.btn-frame .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.btn-frame .kenit-alo-circle-fill {
    width: 70px;
    height: 70px;
    top: -10px;
    right: -10px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: rgba(7, 41, 103, 0.35);
    opacity: .4;
}

.btn-frame .pulse {
    animation-name: pulse;
}


/* Zalo */

.btn-zalo {
    bottom: 315px;
}


/* Phone */

.btn-phone {
    bottom: 230px;
}


/* Messenger */

.js-facebook-messenger-container.closed,
.js-facebook-messenger-tooltip.closed {
    display: none!important
}

.js-facebook-messenger-tooltip {
    bottom: 97px;
    right: 97px
}

.js-facebook-messenger-tooltip {
    color: #404040;
    background: #fff
}

.js-facebook-messenger-box,
.js-facebook-messenger-button,
.js-facebook-messenger-tooltip {
    z-index: 999
}

.js-facebook-messenger-tooltip {
    display: none;
    position: fixed;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.15) 0 2pt 10pt;
    z-index: 1.0E+30
}

.js-facebook-messenger-close-tooltip {
    width: 10px;
    height: 10px;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px
}

.js-facebook-messenger-box.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand
}

.js-facebook-messenger-box.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.js-facebook-messenger-box,
.js-facebook-messenger-button,
.js-facebook-messenger-tooltip {
    z-index: 999
}

.js-facebook-messenger-box {
    display: block;
    position: fixed;
    cursor: pointer;
    bottom: 150px;
    right: 17px;
    width: 56px;
    height: 56px;
    text-align: center;
    background: #1182FC;
    border-radius: 100%;
    overflow: hidden;
    z-index: 99;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3)
}

.js-facebook-messenger-box.rotate svg#fb-msng-icon {
    transform: rotate(0deg)
}

.js-facebook-messenger-box svg#fb-msng-icon {
    width: 32px;
    height: 33px;
    position: absolute;
    top: 13px;
    left: 12px;
    opacity: 1;
    overflow: hidden;
    -webkit-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
    -moz-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
    -o-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
    transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
}

.js-facebook-messenger-box.rotate svg#close-icon {
    transform: rotate(-45deg)
}

.js-facebook-messenger-box svg#close-icon {
    opacity: 0;
    width: 19px;
    height: 20px;
    position: absolute;
    top: 19px;
    left: 19px;
    -webkit-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
    -moz-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
    -o-transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
    transition: opacity 160ms ease-in-out, transform 160ms ease-in-out;
}

.js-facebook-messenger-container,
.js-facebook-messenger-container-button {
    z-index: 1000
}

.js-facebook-messenger-container {
    position: fixed;
    opacity: 0;
    transform: translateY(50px);
    bottom: 110px;
    right: 90px;
    border-radius: 10px;
    pointer-events: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
    -webkit-transition: transform 160ms ease-in-out, opacity 160ms ease-in-out;
    -moz-transition: transform 160ms ease-in-out, opacity 160ms ease-in-out;
    -o-transition: transform 160ms ease-in-out, opacity 160ms ease-in-out;
    transition: transform 160ms ease-in-out, opacity 160ms ease-in-out
}

.js-facebook-messenger-top-header {
    width: 220px
}

.js-facebook-messenger-top-header {
    color: #ffffff;
    background: #1182FC
}

.js-facebook-messenger-top-header {
    display: block;
    position: relative;
    width: 220px;
    background: #1182FC;
    color: #ffffff;
    text-align: center;
    line-height: 1;
    padding: 10px;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.js-facebook-messenger-container iframe,
.js-facebook-messenger-container-button iframe {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.js-facebook-messenger-box,
.js-facebook-messenger-button,
.js-facebook-messenger-tooltip {
    z-index: 999
}

.js-facebook-messenger-container,
.js-facebook-messenger-container-button {
    z-index: 1000
}

.js-facebook-messenger-top-header {
    color: #ffffff;
    background: #1182FC
}

.js-facebook-messenger-top-header {
    width: 220px
}

.js-facebook-messenger-tooltip {
    color: #404040;
    background: #fff
}

.js-facebook-messenger-container.open {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: all
}

.js-facebook-messenger-tooltip {
    bottom: 97px;
    right: 97px
}

.js-facebook-messenger-box.open svg#fb-msng-icon {
    opacity: 0
}

.js-facebook-messenger-box.rotate.open svg#close-icon {
    transform: rotate(0deg)
}

.js-facebook-messenger-box.open svg#close-icon {
    opacity: 1
}


/* Cart Fix */

.cart-fixed {
    position: fixed;
    right: 20px;
    bottom: 390px;
    z-index: 10;
    background: #4b4f56;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff!important;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-fixed i {
    font-size: 20px;
}

.cart-fixed span {
    position: absolute;
    top: 0px;
    right: -5px;
    color: #ffffff;
    width: 25px;
    height: 25px;
    background: var(--color-red);
    text-align: center;
    line-height: 25px;
    font-size: 11px;
    border-radius: 100%;
}


/* Toolbar */

.toolbar {
    background: var(--color-red);
    width: 100%;
    padding: 3vw;
    bottom: 0px;
    position: fixed;
    z-index: 500;
    height: auto;
    left: 0px;
}

.toolbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.toolbar ul li {
    text-align: center;
    width: 25%;
}

.toolbar ul li a {
    display: block;
    width: 100%;
    cursor: pointer;
}

.toolbar ul li a img {
    height: 6vw;
    width: auto;
}

.toolbar ul li a span {
    font-weight: 400;
    color: #ffffff;
    font-size: 3.5vw;
    display: none;
}


/* Fixbar */

.fixbar {
    bottom: 0;
    display: block;
    background: #f0eff4;
    border-top: 1px solid #ddd;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    margin: 0;
    z-index: 500;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 50px;
}

.fixbar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.fixbar ul li {
    display: inline-block;
    margin: 0 auto 10px;
    text-align: center;
    width: 25%;
    float: left;
}

.fixbar .icon-cart-mobile,
.fixbar .icon-cart-new,
.fixbar .icon-home-new,
.fixbar .icon-hotdeal-new {
    width: 20px;
    height: 20px;
    display: block;
    margin: 8px auto 0;
}

.fixbar .icon-cart-mobile {
    background: url(../images/cart-mobile.png) no-repeat;
}

.cart-total-header-mobile {
    font-size: 10px;
    position: absolute;
    background: red;
    color: #fff!important;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    line-height: 15px;
    top: 5px;
    margin-left: 5px;
}

.fixbar ul li a {
    font-size: 11px;
    text-decoration: none;
    color: #333;
}

.fixbar ul li a i {
    font-size: 20px;
}


/* Plugbar */

.plugbar {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #eae6e6;
    width: 100%;
    right: 0;
    max-width: 767px;
    margin: 0 auto;
    background: #ffffff;
    padding: 9px 10px 10px 7px;
    z-index: 10;
}

.plugbar ul {
    list-style: none;
    padding: 0;
    margin: 0px;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plugbar ul li {
    width: 20%;
    float: left;
}

.plugbar ul li a {
    display: block;
    color: #696969;
    font-size: 12px;
    text-align: center;
    position: relative;
}

.plugbar ul li a i {
    font-size: 20px;
    color: #696969;
}

.plugbar ul li a span {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -40px;
    left: calc(50% - 50px/2);
    font-size: 14px;
    display: block;
    border: 1px solid rgba(234, 230, 230, 0.5);
    border-radius: 100%;
}


/* Combo Phone */

.support-online {
    position: fixed;
    z-index: 999;
    left: 10px;
    bottom: 0px;
}

.support-online a {
    position: relative;
    margin: 20px 10px;
    text-align: left;
    width: 40px;
    height: 40px;
}

.support-online i {
    width: 40px;
    height: 40px;
    background: #43a1f3;
    color: #ffffff;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 1.9;
    position: relative;
    z-index: 999;
}

.support-online a span {
    border-radius: 2px;
    text-align: center;
    background: rgb(103, 182, 52);
    padding: 9px;
    display: none;
    width: 180px;
    margin-left: 10px;
    position: absolute;
    color: #ffffff;
    z-index: 999;
    top: 0px;
    left: 40px;
    transition: all 0.2s ease-in-out 0s;
    -moz-animation: headerAnimation 0.7s 1;
    -webkit-animation: headerAnimation 0.7s 1;
    -o-animation: headerAnimation 0.7s 1;
    animation: headerAnimation 0.7s 1;
}

.support-online a:hover span {
    display: block;
}

.support-online a {
    display: block;
}

.support-online a span:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(103, 182, 52) transparent transparent;
    position: absolute;
    left: -10px;
    top: 10px;
}

.support-online .kenit-alo-circle-fill {
    width: 60px;
    height: 60px;
    top: -10px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: rgba(0, 175, 242, 0.5);
    opacity: .75;
    right: -10px;
}

.support-online .kenit-alo-circle {
    width: 50px;
    height: 50px;
    top: -5px;
    right: -5px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    border-color: #0089B9;
    opacity: .5;
}

.support-online .support-online .btn-support {
    cursor: pointer;
}

.support-online .mes i {
    background: orange;
}

.support-online .sms i {
    background: red;
}

.support-online .call-now i {
    background: green;
}


/* Phone Switch */

.widget-mobile {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    z-index: 9999999;
}

#my-phone-circle {
    position: relative;
    width: 50px!important;
    height: 50px!important;
}

.wcircle-open .wcircle-icon i:before {
    content: '\f00d';
}

.wcircle-icon {
    background: #1282fc;
    border-radius: 50%;
    display: flex!important;
    display: -ms-flex!important;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative!important;
}

.wcircle-icon:before {
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    background: rgba(18, 130, 252, .5);
    border: 1px solid #ffffff;
    border-radius: 50%;
    left: -5px;
    top: -5px;
    -webkit-animation: pulse 1s infinite ease-in-out;
    -moz-animation: pulse 1s infinite ease-in-out;
    -ms-animation: pulse 1s infinite ease-in-out;
    -o-animation: pulse 1s infinite ease-in-out;
    animation: pulse 1s infinite ease-in-out;
}

.wcircle-icon:after {
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    background: rgba(18, 130, 252, .5);
    border-radius: 50%;
    left: -15px;
    top: -15px;
    -webkit-animation: zoomIn 2s infinite ease-in-out;
    -moz-animation: zoomIn 2s infinite ease-in-out;
    -ms-animation: zoomIn 2s infinite ease-in-out;
    -o-animation: zoomIn 2s infinite ease-in-out;
    animation: zoomIn 2s infinite ease-in-out;
}

.wcircle-menu {
    position: absolute!important;
    left: 0;
    top: 0;
    display: none;
}

.wcircle-menu-item {
    width: 50px;
    height: 50px;
    background: #1282fc;
    border-radius: 50%;
    display: flex;
    display: -ms-flex;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wcircle-menu-item img {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
}

.wcircle-menu-item i,
.wcircle-icon i {
    font-size: 25px;
    color: #ffffff;
    position: relative;
    z-index: 9999;
}

.shake-anim {
    -webkit-animation: shake-anim 1s infinite ease-in-out;
    -moz-animation: shake-anim 1s infinite ease-in-out;
    -ms-animation: shake-anim 1s infinite ease-in-out;
    -o-animation: shake-anim 1s infinite ease-in-out;
    animation: shake-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

@-moz-keyframes shake-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10%,
    30% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20%,
    40% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }
    100%,
    50% {
        -moz-transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes shake-anim {
    0%,
    100%,
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    10%,
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20%,
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
}

@-o-keyframes shake-anim {
    0%,
    100%,
    50% {
        -o-transform: rotate(0) scale(1) skew(1deg)
    }
    10%,
    30% {
        -o-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20%,
    40% {
        -o-transform: rotate(25deg) scale(1) skew(1deg)
    }
}


/* Responsive */

@media(max-width:1001px) {
    .menu {
        display: none;
    }
    .menu-res {
        display: block;
    }
}

@media(max-width:576px) {
    .news-image {
        margin-bottom: 1rem;
    }
}

@media(max-width:369px) {
    .cart-pro-detail a {
        width: 100%;
    }
    .cart-pro-detail a:first-child {
        margin-right: 0px;
        margin-bottom: 0.5rem;
    }
    .cart-pro-detail a i {
        display: none;
    }
}

.center {
    width: 1200px;
    margin: 0 auto;
}


/* header */

.title {
    text-align: left;
    flex: 1;
}

.title h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #1b4cb0;
    font-family: "Mulish", sans-serif;
}

.title p {
    font-size: 18px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
}


/* contact */

.contact {
    background: url(../images/images_ttxl/phone.png) no-repeat;
    /* width: 28.666666666%; */
    display: inline-block;
    background-position: 0% 32%;
    padding-top: 15px;
}

.contact-padding {
    padding-left: 60px;
}

.contact h2 {
    font-family: "Mulish", sans-serif;
    color: #e50e0e;
    font-weight: 900;
    position: relative;
    font-size: 20px;
}

.contact p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}

.contact h2::after {
    content: "";
    border-top: 1px #d7d7d7 solid;
    width: 135px;
    bottom: 0;
    /* right: 315px; */
    left: 60px;
    position: absolute;
}

.contact .owner {
    padding-top: 12px;
}

.contact .owner p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}


/* input field */

.input-field {
    position: relative;
}

.input-field>input {
    border-radius: 60px;
    width: 274px;
    background-color: #4985ff;
    height: 37px;
    border: none;
    padding-left: 20px;
    color: #fff;
}

.input-field>input:focus {
    outline: none;
}

.input-field>input::placeholder {
    color: #fff;
    padding-left: 10px;
    font-size: 12px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
}

.search-button {
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 30px;
    display: inline;
    right: 0;
    position: absolute;
}

.search {
    background: url(../images/images_ttxl/search.png) no-repeat no-repeat;
    width: 100px;
    height: 38px;
    background-position: 91%;
    right: 0;
    top: 0;
    position: absolute;
}


/* product heading */

.heading {
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 30px;
}

.heading .row {
    display: flex;
    justify-content: center;
}

.title-main>p {
    text-align: center;
    font-size: 17px;
    font-family: "Be Vietnam Pro", sans-serif;
}

.decoration::before {
    content: "";
    width: 50px;
    border-bottom: 1px solid #1b4cb0;
    bottom: 6px;
    position: absolute;
    left: 0;
}

.decoration {
    width: 70px;
    border-bottom: 1px solid #1b4cb0;
    position: absolute;
    bottom: 7px;
}

.decoration::after {
    content: "";
    width: 60px;
    border-bottom: 1px solid #1b4cb0;
    bottom: 2.5px;
    position: absolute;
    left: 0;
}

.title-main h2 {
    font-family: "OswaldBold", sans-serif;
    font-size: 30px;
    color: #1b4cb0;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding: 0 25px;
}

.decoration:nth-child(1) {
    right: 100%;
}

.decoration:nth-child(2) {
    left: 100%;
    transform: rotateY(180deg);
}


/* banner */

.prev-banner {
    width: 46px;
    height: 46px;
    border-radius: 30px;
    /* background: url(assets/images/images_ttxl/banner-btn.png); */
    background-color: red;
    /* bottom: 0; */
    position: absolute;
    z-index: 1;
    left: calc((100% - 1200px) / 2);
    cursor: pointer;
}

.next-banner {
    width: 46px;
    height: 46px;
    border-radius: 30px;
    /* background: url(.assets/images/images_ttxl/banner-btn.png); */
    background-color: red;
    -webkit-transform: rotate(180deg);
    /* bottom: 0; */
    position: absolute;
    z-index: 1;
    right: calc((100% - 1200px) / 2);
    cursor: pointer;
}

.prev-banner:hover {
    width: 46px;
    height: 46px;
    border-radius: 30px;
    filter: brightness(1) invert(2);
    position: absolute;
    z-index: 1;
    left: calc((100% - 1200px) / 2);
    cursor: pointer;
}

.next-banner:hover {
    width: 46px;
    height: 46px;
    border-radius: 30px;
    filter: brightness(1) invert(2);
    -webkit-transform: rotate(180deg);
    /* bottom: 0; */
    position: absolute;
    z-index: 1;
    right: calc((100% - 1200px) / 2);
    cursor: pointer;
}


/* Product */

.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -5px -5px;
    position: relative;
}

.product-wrapper1 {
    margin: auto;
    position: relative;
}

.product-items {
    /* float: left; */
    width: calc(100% /4);
    /* margin: 0 2% 2% 0; */
    padding: 5px 5px;
}

.product-wrapper1 .control-owl {
    opacity: 0;
}

.product-wrapper1:hover .control-owl {
    opacity: 1;
}

.f-width {
    width: 100% !important;
}

.product-name {
    text-align: center;
    font-family: "Be Vietnam Pro";
    font-weight: 300;
    color: #000;
    font-size: 16px;
}

.product-price {
    text-align: center;
    font-family: "Be Vietnam Pro";
    font-weight: 300;
    font-size: 16px;
}


/* Slider */

.slider {
    width: 1366px;
    margin: 60px auto;
}


/* phần giới thiệu */

.about-wrapper {
    /* width: 1366px;
    height: 677px; */
    margin: 0 auto;
    background: url(../images/images_ttxl/about.png);
    padding-bottom: 70px;
}

.about-wrapper .row {
    display: flex;
    justify-content: space-between;
    /* padding: 65px 0; */
}

.about-wrapper .img {
    position: relative;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

.about-wrapper .about-container {
    width: 76px;
    height: 330px;
    background-color: #1b4cb0;
    left: 0;
    position: absolute;
}

.about-container p {
    transform: rotate(-90deg) translateY(-237%) translateX(10%);
    color: #fff;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    letter-spacing: 20px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
}

.about-subContainer {
    width: 65px;
    height: 140px;
    background-color: #1b4cb0;
    right: -26px;
    bottom: 0;
    position: absolute;
}

.about-subContainer p {
    color: #fff;
    font-size: 20px;
    transform: rotate(-90deg) translateX(-127%);
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    letter-spacing: 10px;
}


/* tiêu chí */

.criteria-wrapper {
    width: 1366px;
    height: 160px;
    margin: 0 auto;
    background-color: #1b4cb0;
    position: relative;
}

.criteria-wrapper .control-criteria {
    opacity: 0;
}

.criteria-wrapper:hover .control-criteria {
    opacity: 1;
}

.criteria-wrapper .center {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.criteria-wrapper .center:after {
    content: "";
    border-top: 1px solid #2472ff;
    width: 100%;
    position: absolute;
    top: 10px;
}

.criteria-wrapper .center:before {
    content: "";
    border-top: 1px solid #2472ff;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.criteria-wrapper .item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 35px 0;
}

.criteria-wrapper .content {
    flex: 1;
    /* tự động chiếm chiều rõng */
    padding-left: 20px;
}

.criteria-wrapper .item .img {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    /* border: 1px teal; */
    border: 4px #3063be solid;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
}

.criteria-wrapper .item .img:hover {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    /* border: 1px teal; */
    border: 4px #fff solid;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #3063be;
    display: flex;
}

.criteria-wrapper .item .img:hover img {
    filter: brightness(0) invert(1);
}

.criteria-wrapper .content .title {
    font-family: "Roboto";
    text-transform: uppercase;
    padding-bottom: 10px;
    color: #fff;
}

.criteria-wrapper .content .subTitle {
    font-family: "Be VietNam Pro";
    /* text-transform: uppercase;   */
    font-size: 13px;
    color: #fff;
}


/* intro */

.intro-wrapper {
    /* width: 52.333333333%;
    height: 548px;
    margin-left: 80px; */
}

.intro {
    padding: 70px 0;
    width: 582px;
}

.intro>p {
    font-family: "Be Vietnam Pro";
    font-size: 15px;
    color: #818181;
    text-transform: uppercase;
}

.intro h1 {
    font-family: "Oswald";
    color: #1b4cb0;
    font-size: 35px;
    margin: 10px 0 27px 0;
    text-transform: uppercase;
}

.intro p:nth-child(3) {
    font-family: "Be Vietnam Pro";
    font-weight: 300;
    font-size: 15px;
    color: black;
    display: -webkit-box;
    line-height: 25px;
    -webkit-line-clamp: 9;
    text-transform: none;
    -webkit-box-orient: vertical;
}

.about-btn {
    width: 130px;
    height: 45px;
    border: 2.5px #1b4cb0 solid;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-btn:hover {
    width: 130px;
    height: 45px;
    border: 2.5px #fff solid;
    background-color: #1b4cb0;
    margin-top: 45px;
}

.about-btn a {
    font-family: "Be Vietnam Pro";
    font-size: 15px;
    text-decoration: none;
    line-height: 45px;
    width: 100%;
    display: block;
    text-align: center;
    color: black;
}

.about-btn a:hover {
    font-family: "Be Vietnam Pro";
    font-size: 15px;
    text-decoration: none;
    line-height: 45px;
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
}


/* footer */

footer {
    width: 1366px;
    margin: 0 auto;
    background-color: #1e1e1e;
}

footer .top .center {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

footer .logo {
    /* width: 8.666666666%; */
}

.contact-s {
    width: 41.583333%;
}

footer .contact-s h1 {
    font-family: "Oswald";
    color: #e6af35;
    font-size: 35px;
    text-transform: uppercase;
}

footer .info {
    font-family: "Be Vietnam Pro";
    font-size: 16px;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

footer .icon {}

footer .icon i {
    border-radius: 26%;
    border: 1px #fff solid;
    width: 29px;
    height: 29px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.info-container {
    margin: 27px 0;
}

footer .info p {
    line-height: 37px;
    color: #fff;
    font-family: "Be Vietnam Pro";
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 16px;
}


/* footer social */

footer .social {
    display: flex;
}

footer .social span {
    padding-right: 10px;
}

footer .social i {
    width: 41px;
    height: 41px;
    border: 1px #fff solid;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

.social i:hover {
    transform: rotateX(189deg);
    color: #e6af35;
}


/*  fanpage */

.fanpage {
    width: 27.6666666667%;
}

.footer-heading {
    color: #fff;
    font-family: "Roboto";
    text-transform: uppercase;
    font-size: 17px;
    position: relative;
}

.footer-heading::after {
    content: "";
    border-bottom: 2px #fff solid;
    width: 35px;
    bottom: -17px;
    left: 0;
    position: absolute;
}

.fanpage img {
    padding: 38px 0;
}


/* qr */

.qr {
    width: 14.4166666667%;
}

.qr img {
    padding: 38px 0;
}


/* bottom */

.bottom {
    width: 1366px;
    height: 55px;
    margin: 0 auto;
    background-color: #1b4cb0;
}

footer .bottom .row {
    display: flex;
    justify-content: space-between;
}

.right-s p,
.left-s p {
    color: #fff;
    font-family: "Be VietNam Pro";
    font-weight: 400;
    font-size: 13px;
    padding: 18px 0;
}


/* map */

.map {
    width: 1366px;
    margin: 0 auto;
}

.map iframe {
    width: 100%;
}